<!DOCTYPE html>
<html>

<body style="background-color:rgb(132, 233, 199);">
    <center>
        <h1 style= "color:rgb(44, 92, 224)"> DIABETES PREDICTION </h1><br>
        <form method="POST", action="{{url_for('predict')}}"><b>
            Glucose :- <input type="text", name="Glucose", placeholder="Glucose"><br><br>
            BloodPressure :- <input type="text", name="BloodPressure", placeholder="BloodPressure"><br><br>
            SkinThickness :- <input type="text", name="SkinThickness", placeholder="SkinThickness"><br><br>
            Insulin :- <input type="text", name="Insulin", placeholder="Insulin"><br><br>
            BMI :- <input type="text", name="BMI", placeholder="BMI"><br><br>
            DiabetesPedigreeFunction :- <input type="text", name="DiabetesPedigreeFunction", placeholder="DiabetesPedigreeFunction"><br><br>
            Age :- <input type="text", name="Age", placeholder="Age"><br><br>
            <input type="submit", value="Predict">
        </form>   
     </center>

</body>
</html>